*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    height:100px;
}
.nav{
    font-size: 20px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 200;
    display: flex;
    margin-left: 90px;
    width: 1200px;
    justify-content: space-around;
    align-items:center;
}
.logo>img{
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 50px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 650;
}
.left{
    margin-top: 80px;
}
.right{
    position: relative;
}
.image>img{
    height: 600px;
    position: relative;
    z-index: 2;
}
.shape{
    height: 100px;
    position: absolute;
    left: -170px;
}
.shape-4-2{
    position: absolute;
    top: 500px;
    left: 1050px;
}
.shape-4{
    height: 250px;
    position: absolute;
    left: 450px;
}
.shape-9{
    transform:scaleX(-1) ;
    position: absolute;
    top: 400px;
    left: -200px;
}
.shape-13{
    height: 70px;
    position: absolute;
    top: 420px;
    left: 400px;
}
.box-1{
    display: flex;
    justify-content: space-between;
    margin:50px 50px 0px 150px ;
    position: relative;
}
.text{
    margin-top: 50px;
}
.button{ 
    margin-top: 50px;
    width: 135px;
    height: 45px;
    background-color: #f2cd5d;
}
.button button{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    width: 130px;
    height: 40px;
    border: 3px solid #000000;
    background-color: #f2cd5d;
}
.box-2{
    display: flex;
    position: relative;
    z-index: 2;
    margin: 90px 0px 0px 0px;
    justify-content: space-around;
    width:100%;
    background-color:#fffdfd;
}
.Food-image>.img{
    height: 250px;
}
.Food-image>h4{
    text-align: center;
}
.box-3{
    margin-top: 50px;
    justify-content: space-between;
    height: 700px;
    width: 1330px;
    display: flex;
}
.box-3>img{
    width: 700px;
}
.text-2{
    margin: 100px 0px 0px 100px;
}
.text-2 > p{
    margin: 50px 0px 50px 0px;
}
.right2{
    width: 1000px;
}
p{
    font-size: 20px;
}
.menu{
    margin: 50px 0px 20px 600px;
}
.text-3{
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}
.box-4-2{
     display: flex;
     justify-content: space-between;
}
.col-50{
    width: 250px;
}
.container{
    margin-left: 30px;
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h4{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
.col-50>p{
    font-size: 15px;
    margin: 15px 0px 0px 30px;
}
.ml{
    margin-left: 30px;
}
.dots{
    margin-top: 40px;
    text-align: center;

}
.container-main{
    display: flex;
    justify-content: space-around;
}
.container-2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 350px;
    height: 550px;
}
.container-2>img{
    width: 350px;
    height: 300px;
}
.tag{
    height: 80px;
    width: 180px;
    padding: 7px 0px 0px 15px;
    background-color: #fe804a;
    position: absolute;
    margin: -50px 0px 0px 80px;
}
.tag-2{
    height: 50px ;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    padding-top: 4px;
    font-size: 24px;
    border: 3px solid #000000;
}
.font-2{
    margin: 70px 0px 0px 50px;
}
.visit{
    margin: 50px auto;
}
.box-6{
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.box-50{
    width: 80%;
}
.mt{
    margin-top: 150px;
}
.mt-2{
    margin-top: 30px;
}
.mb{
    margin-bottom: 35px;
}
.ml-3{
   margin-left: 300px;
}
.box-7{
    display: flex;
    justify-content: space-between;
}
.col-60{
    width: 700px;
    margin-right: 50px;
    margin-left: 30px;
}
.box-7>.col-40>img{
    width: 600px;
    height: 700px;

}
input{
    width: 600px;
    height: 50px;
    margin: 20px;
    padding-left: 30px;
    font-size: 15px;
    font-weight:bold;
    background-color: #f0f0f0;
    border-color: #e6e6e6;
}
textarea{
    width: 600px;
    height: 200px;
    margin: 20px;
    padding: 10px 30px;
    font-size: 15px;
    color: rgb(138, 138, 138);
    font-weight:bold;   
    background-color: #f0f0f0;
}
.msg{
    width: 150px;
}
.footer{
    background-color:#FE804A;
    height: 300px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}
.size>img{
    margin-top: 40px;
    height: 150px;
}
.shape-14{
    position: absolute;
}
h5{
    font-size:30px;
    font-weight:650;
}
.line{
    padding-top: 5px;
}
.line>ul{
    margin-top: 10px;
}
.icon{
    display: flex;
    gap: 15px;
}


@media(Max-width:576px){
    .web-site{
        overflow: hidden;
    }
     .nav{
        font-size:13px;
        width: 400px;
        margin: 0px;
     }
     .logo>img{
        width: 50px;
     }
     img[class*="shape"]{
            display: none;
     }  
     .head-line>h1{
        font-size: 40px;
        text-align: center;
        width: 330px;
     }
     .text{
       margin-left: 35px; 
       margin-top: 10px;
       width: 250px;
       text-align: center;
     }
     
     .box-1{
        margin-top: 0px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        width: 250px;
      } 
      .button{
        margin: 30px 90px;
      }
     .right>.image>img{ 
         width: 300px; 
         height: 200px;
         margin-bottom: 0px;
      }
     .box-2{ 
        margin-left: 25px auto;
         display:flex; 
         width: 400px;
        flex-direction: column;
     }
    .Food-image>h4{
        margin-top: 0px;
          width: 200px;
    }
    .Food-image{
         margin: 0px 70px; 
         height: 350px;
    }
    .Food-image>.img{ 
        margin: 0px 40px;
     }
     .box-3{
        margin-top: 150px;
        display: flex;
        flex-direction:column-reverse;
     }
     .right2{
        margin-left: 0px;
     }
     .text-2{
        margin-left: 0px;
        width: 380px;
     }
     .text-2>.a{
        margin-top: 0px;
        margin-left: 150px;
     }
     .text-2>p {
        text-align: center;
     }
     .text-2>h1{
        font-size: 30px;
        text-align: center;
        width: 250px;
        margin-left: 50px;
     }
     .box-3>img{
        width: 250px;
        margin-left:68px;
        margin-top: 20px;
     }
     .box-4>h1{
        margin-left: 0px;
        text-align: center;
        font-size:30px;
     }
     .text-3{
        width: 360px;
        font-size: 15px;
     }
     .box-4-2{
        flex-direction:column;
        gap: 20px;
     }
     .container{
        width: 300px;
        margin: 0px auto;
        flex-direction:column;
     }
     .col-50{
        padding-left: 50px;
        text-align: center;
     }
     .col-50>.button{
        margin-left:35px;
     }
     .col-5>img{
        width: 100%;
     }
     .container-main{
        flex-direction: column;
        padding-left: 30px;
     }
     .box-6{
        flex-direction: column-reverse;
     }
     .box-7{
        flex-direction: column-reverse;
     }
     .box-50{
        margin-left: 40px;
        text-align:center;
     }
     .box-50>img{
         width:350px;
    }
    .col-60{
        width:400px;
        text-align: center;
        margin-left: 0px;
     }
    .col-60>.button{
        margin-left: 130px;
    }
    /* .msg{
        margin-left: 40px;
     } */
    input , textarea{
        height: 30px;
        width: 300px;
    }
    .hi{
      height: 100px;
    }
    .box-7>.col-40>img{
        height:500px;
        width: 350px;
        margin-left: 25px;
        margin-bottom: 20px;
    }
     .footer{
        display: flex;
        flex-direction: column;
        height: 1400px;
     }
 }  