*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main>.img>.layer>img:hover{
    opacity: 0;
}
.layer{
    position: absolute;
    margin-top: -600px;
    height: 530px;  
    width:250px;
    margin-left: 150px;
    /* transition:opacity is ease-in-out; */
    animation: image 8s  linear infinite;
}
span>p{
    font-weight: 200;
}
label>.span1{
    color:#6d6666;
    position: absolute;
    top: 320px;
    left: 750px;
    font-weight: 100;
}
label>.span2{
    color:#6d6666;
    position: absolute; 
    top: 365px;
    left: 750px;
}
label>.span3{
    color:#6d6666;
    position: absolute; 
    top: 410px;
    left: 750px;
}
label>.span4{
    color:#6d6666;
    position: absolute; 
    top: 453px;
    left: 750px;
}
@keyframes image{
    0%{
        background-image: url(img/screenshot1.png);
    }
    33%{
        background-image: url(img/screenshot2.png);
        
    }
    66%{
        background-image: url(img/screenshot3.png);
        
    }
    100%{
        background-image: url(img/screenshot4.png);

    }
}
body{
    margin-top: -100px;
}
.main{
      margin-top: 150px;
      margin-left: 250px;
      width: 900px;
      display: flex;    
}
.img>img{  
    position: relative;  
    height: 620px;
    width: 450px; 
}
.logo>img{
    color: #2A2A2A;
    height: 80px;
    width: 180px;
    margin: 10px 50px 5px 70px;
}
.text{
    text-align: center;
}
.button{
    margin-top: 50px;
    margin-left: 30px;
}
.logo{
    height: 100px;
    width: 300px;
    margin-bottom: 10px;
}
.img{
    position: relative;
    height:581px;
    width: 430px;
    margin-top:100px ;
    margin-right: 20px;
}
button{
    background-color:#0095F6;
    color: aliceblue;
    font-weight:bold;
    height: 35px;
    border: none;
    border-radius: 10px;
    width: 250px;
}
input{
    background-color: #f9f8f8;
    height: 36px;
    width: 259px;
    margin: 4px 20px;
    padding-left:5px ;
    border: 1px solid rgb(211, 207, 207);
}
.border{
    border: 1px solid rgb(211, 207, 207);
    height: 0px;
    width: 100px;
}
.form{
    color: #737373;
    border: 1px solid rgb(211, 207, 207);
    padding: 10px 25px;
    height: 615px;
    width: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.signup{
       margin-top: 10px;
       margin-left: 25px;
}
.blue{
    background-color: #4CB5F9;
}
pre{
    margin-top: -25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:12px;
    color:rgb(104, 102, 102);
    font-weight:normal;
}
.or>span{
    margin: 3px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:13px;
}
.or{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    margin-top: 10px;
    padding: 20px 80px;
    border: 1px solid rgb(211, 207, 207);
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:14px;
    color:rgb(43, 43, 43);
}
.login>span>a{
    color: #4CB5F9;
    font-weight: bold;
    text-decoration: none;
}
.download{
    display: flex;
    justify-content: space-around;
}
.icons>.text_app{
    margin: 15px 130px;
    font-weight: normal;
    margin-bottom: 20px;
}
.download_link>img{
    height: 40px;
    width: 130px;
}
.footer{
    margin-top: 50px;
    display: flex;
    width: 900px;
    margin-left: 200px;
    justify-content: space-around;
}
.footer>.link>a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(69, 68, 68) ;
    font-size:small;
}
select{
    border: none;
}
.line-2{
    margin-top: 20px;
    margin-left: 500px;
    margin-bottom: 50px;
}
.line-2>span{
        margin-left: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(69, 68, 68) ;
        font-size:small;
}
h4{
    font-size:medium;
    font-weight: 300;
}