*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: UberMove, sans-serif;
}
header{
    padding: 5px;
    /* background-color: aliceblue; */
    position: fixed;
    /* position: sticky; */
    top: 0;
    width: 100%;
}
header.affix{
    background-color: gold;
}
nav{
    /* position: absolute; */
    height: 70px;
    width: 100%;
    align-items: center ;
    /* padding: 30px; */
    display: flex;
    justify-content: space-around;
    align-items:center;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.04);
}
i{
    font-size: 20px;  
}
.i{
    padding: 5px;
    margin-right: 20px;
}
#menu{
    margin-bottom: 20px;
}
.A{
    margin-right: 800px;
}
.B{
    justify-content: space-between;
}
button{
    font-size: 15px;
    font-weight:bold;
    border: none;
    height: 50px;
    width: 90px;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.04);
    border-radius:500px;
}
.signup{
    color: aliceblue;
    background-color: black;
}
.container{
    background-image:url(images/c413f20400e04805-_1_.jpg);
    background-size: cover;
    background-position: right -20px bottom 0px;
    height: 800px;
}
h1{
    font-size: 50px;
}
.content{
    padding: 220px 40px;
}
.location{
    background-image: url("images/icons8-location-24.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    font-size: 18px;
    height: 56px;
    width: 560px;
    border: none;
}
.selector{
    background-image: url("images/icons8-clock-24.png");
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 50px;
    padding-left: 40px;
    font-size: 18px;
    font-weight: bold;
    height: 56px;
    width: 200px;
    border: none;
}
.search_here{
    background-color:black;
    color: aliceblue;
    margin-top: 0px;
    width: 125px;
    font-weight:200;
    height:56px ;
    border-radius: 8PX;
    font-size:large;
}
.link{
   margin-top: 15px;
}
a{
    color: black;
}
.boxes{
    margin-top:60px;
    display: flex;
    justify-content: space-between;
    color: black;
}
.box1>a>img{
    width: 422.3px;
    height: 235.88px;
}
u{
    font-weight:500;
}
a{
    text-decoration: none ;
}
h2{
    font-size:30px;
    margin-bottom: 10PX;
}
.map{
    padding: 0px 50px;
    margin-top: 150px;
}
.map-text{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
iframe{
    width: 1250px;
    height: 360px;
}
.list{
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
h3{
    font-size: 36px;
    font-weight: 700;
}
.countries{
    margin-top: 50px;
    padding: 0px 50px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer-1{
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    gap:150px;
}
.footer-1>img{
    height: 24px;
    width: 134px;
}
.icons{
    display: flex;
    gap: 0px 10px;
}
.google-play>img{
    height: 40px;
}
.app-store>img{
    height: 40px;
    width: 130px;
}
.list-a{
     padding-right: 120px;
}
.footer-2{
    display: flex;
    width: 750PX;
    padding: 100px 80px;
    padding-bottom: 30px;
    margin-left: 0px;
}
.hover>a:hover{
    text-decoration: underline;
}
.footer-b{
    padding: 20px 80px;
    height: 60px;
    display: flex;
    justify-content:space-between;   
}
.social-icon>i{
    padding: 10px;
}
.font>a{
    font-weight:normal;
    font-size:14px;
    padding: 10px 20px;
}
.footer-b-2{
    font-weight:normal;
    float: right;
    padding-right:80px ;
    font-size:14px;
    margin-bottom: 150px;
}