@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    padding: 50px 120px 50px 100px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}
.nav-pages{
    display: flex;
    gap: 40px;
}
.nav-pages > a{
    text-decoration: none;
    color: gray;
}
.dark{
    font-weight: 600;
}
.contact_us{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    border: 3px solid black;
    height: 35px;
    width: 145px;
    padding: 5px 27px;
    font-weight:900 ;
    border-radius: 5px;
}
.box-1{
    font-family: "Cardo";
    padding: 30px 100px;
    display: flex;
    gap: 40px;
}
.col-40{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.col-60{
    width: 60%;
}
.col-60>img{
    width: 600px;
    filter: grayscale(10%)
}
h1{
    font-size: 80px;
    line-height: 81px;
}
p{
    font-size: 15px;
}
button{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
}
.black{
    background-color: black;
    color: aliceblue;
}
.box-2{
    margin-top: 170px;
    background-color: #1D1E1E;
    color:aliceblue;
    padding: 10PX 500px;
}
h2{
    font-size: 50px;
}
.box-2-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 400px;
    text-align: center;
    margin: 30px 0px 30px 0px;
}
.travels{
    background-color: transparent;
    color: aliceblue;
    border: 3px aliceblue solid;
}
.box-3{
    margin-top: 150px;
}
.col-33{
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.col-33>img:first-child{
    width: 325px;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
}
h3{
    font-size: 25px;
}
.box-4{
    padding: 400px 100px;
}
.box-4-content{
    width: 600px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box-4-content>img:first-child{
    width: 60px;
}
.box-4-p{
    font-size: 20px;
    font-weight: 900;
}
.box{
    
}