@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;;
}
nav{
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}
input[type="checkbox"]{
    display: none;  
}
.i{
    display: none;
}
.pages-link{
    margin-left: 100px;
    display: flex;
    gap: 30px;
}
.buttons>button{
    color: #794CFF;
    background-color: #ECE5FF;
    border:none;
    height: 40px;
    width: 130px;
    margin: 0px 20px;
}
.box-1{
    text-align: center;
}
.save90{
    background: #81C43B;
    border: none;
    width: 108px;
    height: 32px;
    border-radius: 20px;
}
.account59{
    background: #F2F9EB;
    border: none;
    width: 150px;
    height: 32px;
    border-radius: 20px;
}
.content{
    padding:20px 270px ;
}
h1{
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: #35414B;
    width: 800px;
}
.width{
    width: 520px;
    margin: 30px 150px;
}
input{
    width: 319px;
height: 52px;
border: 1px solid #E1E5EA;
background-color: linear-gradient(0deg, #E1E5EA, #E1E5EA);
padding-left: 20px;
}
.input>button{
    width: 164px;
height: 52px;
border: 1px solid #794CFF;
background: #794CFF;
color: aliceblue;
}
.img2{
    display: flex;
    margin-top: 30px;
    gap: 100px;
}
.box-2{
    background-color: #FBFAFE;
    margin-top: 50px;
    padding: 50px 120px;
}
h2{
    text-align: center;
    color: #35414B;
    font-size: 40px;
}
.box-3{
    margin: 100px 80px;
}
.containers{
    margin: 50px;
}
.container{
    width: 500px;
}
.row{
    display: flex;
    gap: 80px;
    margin-bottom: 100px;
}
.box-4{
    margin: 100px 0px;
    padding: 100px 120px;
    display: flex;
    background-color:#FBFAFE;
}
.right{
    width: 50%;
}
.box-4-content{
    padding-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.right h2{
    text-align:start;
}
.buttons>.blue{
    color: aliceblue;
    background: #796EFF;
    margin-left: 0px;
}
.box-5{
    margin: 50px 450px;
}
.box-5-content{
    width: 500px;
    text-align: center;
}
.heading{
    margin-bottom: 40px;
}
.customers-profile{
    display: flex;
    gap: 50px;
    padding: 10px 240px;
}
.customer{
    display: flex;
    text-align: start;
    width: 250px;
}
.box-5-2-content{
    padding: 10px;
    text-align: start;
}
.banner{
    margin: 60px 130px;
    background-color: #794CFF;
    border-radius: 16px;
    width: 1100px;
    height: 224px;
    padding: 40px;
    display: flex;
}
.col-40{
    padding: 40px;
    display: flex;
    width: 45%;
    gap: 20px;
}
.col-60{
    padding: 40px;
    color: aliceblue;
    width: 55%;
}
.col-40 img{
    width: 180px;
    height:60px;
}
h3{
    font-size: 32px;
}
footer{
    background-color: #1D2830;
}
.list{
    margin: 20px 100px;
    padding: 60px 40px;
    display:flex;
    justify-content: space-between;
}
.list a{
    color:aliceblue;
    display: flex;
    gap: 40px;
}
.column img{
    display: flex;
}
hr{
    border: 2px solid #31414e ;
}
.icons{
    display: flex;
    gap: 20px;
}
.end{
    padding: 40px 120px;
    display: flex;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 576px) { 

    .page{
        width: 576px;
        overflow: hidden;
    }
    nav{
        padding: 40px 40px;
    }
    .pages-link,.save90,.hide{
        display: none;
    }
    .extra{
        font-size: 30px;
    }
    .i{
        display: block;
    }
    .box-1{
        margin-top: 40px;
    }
    input[type="checkbox"]:checked + .pages-link{
        display: block;
    }
    .content{
        margin: 10px 100px;
        padding: 0px;
    }
    h1{
        line-height: 40px;
        width: 360px;
        font-size: 35px;
        font-weight: 700;
    }
    .width{
        margin: 30px 30px;
        width: 320px;
    }
    .input>button{
        margin-top: 10px;
        width: 320px;
        height: 52px;
        font-size: 25px;
    }
    .img>img{
        width: 540px;
        height: 550px;  
    }
    .img2{
        width: 100px;
    }
    .wi{
        margin: 10px 50px;
    }
    .img2{
        gap: 52px;
    }
    .box-2{
        padding:50px 20px ;
    }
    .box-2 img{
        width: 540px;
        height: 600px;
    }
    h2{
        font-size: 30px;
    }
    .row{
        flex-direction: column;
        text-align: center;
        margin: 0px;
    }
    .container{
        width: 350px;
        margin-left: -20px;
    }
    .container>h3{
        font-size: 25px;
    }
    .box-4{
        flex-direction:column-reverse;
        margin: 10px 10px;
        padding: 50px 50px;
    }
    .box-4 img{
        width: 480px;
        height: 350px;
    }
    .box-4-content .center{
        text-align: center;
    }
    .box-4-content{
        width: 420px;
        padding: 40px 50px ;
    }
    .buttons>.blue{
        width: 350px;
        height: 50px;
        font-size: 25px;
    }
    .box-5{
        margin: 20px;
    }
    .box-5-content{
        padding: 10px 80px;
    }
    .customers-profile{
        text-align: center;
    }
    .customer img{
        width:60px;
    }
    .customer{
        flex-direction: column;
        text-align: center;
    }
    .box-5-2-content{
        width: 200px;
    }
    .banner{
        flex-direction: column;
        margin: 0px;
        height: 340px;
        border-radius: 0px;
    }
    .col-60{
        padding: 0px;
        width: 450px;
        text-align: center;
    }
    .col-40{
        flex-direction: column;
        padding: 40px 140px;
    }
    .list{
        flex-direction: column;
        padding: 50px 0px;
        margin: 10px 70px;
        position: relative;
    }
    .list a:after{
        align-items: center;
        content: '›';
        /* margin-top: 100px; */
        font-size: 40px;
        rotate: 90deg;
        right: 10px;
        position: absolute;
        align-items: center;
    }
    .col{
    }
    .end{
        padding: 40px 70px;
    }
 }



