@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;;
}
nav{
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}
.pages-link{
    margin-left: 100px;
    display: flex;
    gap: 30px;
}
.buttons>button{
    color: #794CFF;
    background-color: #ECE5FF;
    border:none;
    height: 40px;
    width: 130px;
    margin: 0px 20px;
}
.box-1{
    text-align: center;
}
.save90{
    background: #81C43B;
    border: none;
    width: 108px;
    height: 32px;
    border-radius: 20px;
}
.account59{
    background: #F2F9EB;
    border: none;
    width: 150px;
    height: 32px;
    border-radius: 20px;
}
.content{
    padding:20px 270px ;
}
h1{
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: #35414B;
    width: 800px;
    /* margin: 20px 270px; */
}
.width{
    width: 520px;
    margin: 30px 150px;
}
input{
    width: 319px;
height: 52px;
border: 1px solid #E1E5EA;
background-color: linear-gradient(0deg, #E1E5EA, #E1E5EA);
padding-left: 20px;
}
.input>button{
    width: 164px;
height: 52px;
border: 1px solid #794CFF;
background: #794CFF;
color: aliceblue;
}
.img2{
    display: flex;
    margin-top: 30px;
    gap: 100px;
}
.box-2{
    background-color: #FBFAFE;
    margin-top: 50px;
    padding: 50px 120px;
}
h2{
    text-align: center;
    color: #35414B;
    font-size: 40px;
}
.box-3{
    margin: 100px 80px;
}
.containers{
    margin: 50px;
}
.container{
    width: 500px;
}
.row{
    display: flex;
    gap: 80px;
    margin-bottom: 100px;
}
.box-4{
    margin: 100px 0px;
    padding: 100px 120px;
    display: flex;
    background-color:#FBFAFE;
}
.right{
    width: 50%;
}
.box-4-content{
    padding-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.right h2{
    text-align:start;
}
.buttons>.blue{
    color: aliceblue;
    background: #796EFF;
    margin-left: 0px;
}
.box-5{
    margin: 50px 450px;
}
.box-5-content{
    width: 500px;
    text-align: center;
}
.heading{
    margin-bottom: 40px;
}
.customers-profile{
    display: flex;
    gap: 50px;
    padding: 10px 240px;
}
.customer{
    display: flex;
    text-align: start;
    width: 250px;
}
.box-5-2-content{
    padding: 10px;
    text-align: start;
}
.banner{
    margin: 60px 130px;
    background-color: #794CFF;
    border-radius: 16px;
    width: 1100px;
    height: 224px;
    padding: 40px;
    display: flex;
}
.col-40{
    padding: 40px;
    display: flex;
    width: 45%;
    gap: 20px;
}
.col-60{
    padding: 40px;
    color: aliceblue;
    width: 55%;
}
.col-40 img{
    width: 180px;
    height:60px;
}
h3{
    font-size: 32px;
}
footer{
    background-color: #1D2830;
    padding: 40px;
}
.list{
    margin: 20px 100px;
    display:flex;
    justify-content: space-between;
}
.list a{
    color:aliceblue;
    display: flex;
    gap: 40px;
}
.column img{
    display: flex;
    gap: 100px;
}
